-r requirements.txt
attrs
bidict
colorama
frozendict
git+https://github.com/George-Ogden/mirror-rorrim; python_version >= "3.12"
git+https://github.com/George-Ogden/mypy-pytest; python_version >= "3.12"
mypy==1.19.1
numpy
prek
pytest>=9.0.0
pytest-timeout
pytest-xdist
types-colorama
types-pygments
